html,
body{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

p, a {
  font-family: 'Open Sans',
  sans-serif;
}

a:hover {
  text-decoration: none;
}

.comics-animation {
  animation: animationFrames ease-in-out 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes animationFrames {
  0% {
    transform: scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    transform: scaleX(1.04) scaleY(1.04);
  }
  100% {
    transform: scaleX(1.00) scaleY(1.00);
  }
}

.container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1170px;
  margin: auto;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  padding: 10px 0;
  background: rgba(15, 24, 42, 0.8);
  z-index: 99;
}

.main-page {
  width:100%;
  min-height: 100%;
  background-image: url('../img/bgd-main-page.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.container_main-page {
  height: calc(100% - 120px);
  flex-direction: column;
  justify-content: center;
}

.model__payment {
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(15, 25, 51, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
}

.social-icon {
  font-size: 34px;
  margin-right: 30px;
  color: #f1b820;
}

.social-icon:last-child {
  margin-right: 0;
}

.buy-btn {
  transition: all 0.3s ease-in-out;
}

.main-page__wrapper {
  display: flex;
  width: 100%;
  margin: 150px auto 100px auto;
}

.main-page__inner {
  max-width: 430px;
}

.main-page__book {
  max-width: 355px;
  display: block;
  margin: auto;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45);
}

.main-page__container {
  width: 50%;
}

.main-page__container_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  width: 90px;
}

.menu__item {
  margin: 0 10px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
}

.menu__item:hover {
  color: #f1b821;
}

.buy-btn_menu {
  display: block;
  padding: 10px 20px;
  border: 1px solid #f1b821;
  color: #f1b820;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

.buy-page__container {
  position: relative;
}

.terms-text {
  color:#f1b821;
  font-size: 14px;
  line-height: 27px;
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
}

.buy-page__container:after {
  content: 'Передзамовлення';
  position: absolute;
  bottom: -25px;
  color: #21264f;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-transform: lowercase;
}

.buy-btn_menu:hover {
  background: #f1b821;
  color: #fff;
}

.main-page__title {
  font-family: 'Russo One', sans-serif;
  color: #f1b821;
  font-size: 40px;
  line-height: 50px;
  margin-top: 50px;
}

.main-page__action-text {
  font-family: 'Russo One', sans-serif;
  font-size: 30px;
  line-height: 90px;
  color: #fff;
}

.main-page__desc {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin: 30px 0 60px;
  font-size: 18px;
  line-height: 33px;
  font-weight: 400;
}

.features {
  width: 100%;
}

.main-page__features {
  color: #fff;
}

.features__container {
  width: 20%;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_feauters {
  max-width: 1920px;
}

.features__container_1 {
  background: #f7c02e;
}

.features__container_2 {
  background:  #f1b821;
}

.features__container_3 {
  background: #f0b00b;
}

.features__container_4 {
  background: #ecab02;
}

.features__container_5 {
  background: #eca102;
}

.feature__number {
  font-family: 'Russo One', sans-serif;
  font-size: 26px;
  margin-bottom: 20px;
}

.features__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  font-weight: 600;
  text-transform: lowercase;
}

.buy-btn_main-page {
  cursor: pointer;
  text-decoration: none;
  padding: 22px 30px;
  background: #f1b821;
  display: flex;
  border-radius: 3px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.buy-btn__container {
  position: relative;
}

.price__container {
  display: flex;
  margin-top: 107px;
  align-items: center;
  width: 100%;
  position: relative;
}

.price {
  color: #fff;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 34px;
}

.price__value {
  font-family: 'Russo One', sans-serif;
  color: #f1b821;
  font-size: 47px;
  line-height: 40px;
}

.action-now {
  color: #fff;
  margin-top: 10px;
  font-size: 17px;
  line-height: 39px;
  font-family: 'Open Sans', sans-serif;
}

.about-page {
  background: #fff;
  padding: 50px 0;
}

.container_about-page {
  align-items: flex-start;
}

.about-page__container {
  width: 50%;
  padding-right: 50px;
  position: relative;
}

.page-title {
  font-family: 'Russo One',sans-serif;
  color: #1e4376;
  font-size: 45px;
  line-height: 50px;
  text-align: center;
  margin: 0 0 50px;
}

.about-page__text {
  font-family: 'Open Sans', sans-serif;
  color:#000;
  margin: 20px 0 30px;
  font-size: 16px;
  line-height: 33px;
  font-weight: 400;
}

.about-page__text:first-child {
  margin-top: 0;
}

.about-page .owl-carousel {
  width: 450px;
  margin: auto;
}

.a-gallery {
  position: absolute;
  padding-right: 0;
  top: -160px;
  left: 0;
  right: 0;
}

.about-page .carousel__controls {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 20px);
  display: flex;
  justify-content: space-between;
}

.about-page .owl-next,
.about-page .owl-prev {
  cursor: pointer;
  display: block;
  font-size: 0;
}

.about-page .owl-next::after {
  content: "\f105";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 60px;
}

.about-page .owl-prev::after {
  content: "\f104";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 60px;
}

.trailer-page {
  padding: 70px 0;
}

.trailer-page__video {
  margin: auto;
}

/* 455 */